<div class="row">
    <div class="col-xs-12">
        <p>{{element.name}}</p>
        <hr>
        <p>This Account is {{element.status}}</p>
        <button class="btn btn-default" (click)="onStatusChange(element.id,'active')">Set to 'active'</button>&nbsp;&nbsp;
        <button class="btn btn-default" (click)="onStatusChange(element.id,'inactive')">Set to 'inactive'</button>&nbsp;&nbsp;
        <button class="btn btn-default" (click)="onStatusChange(element.id,'default')">Set to 'default'</button>
    </div>
</div>