<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <app-header (recipesClicked)="onRecipesClicked()" (shoppingListClicked)="onShoppingListClicked()"></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h2>I'm in App Component</h2> -->
                <app-recipe-book *ngIf="recipesClicked;"></app-recipe-book>
                <app-shopping-list *ngIf="shoppingListClicked;"></app-shopping-list>
            </div>
        </div>
    </div>
</body>

</html>